doctype 5
html(lang="fr")
  head
    meta(charset="utf-8")
    title Mes Infos - L'Actualités par Eden
    link(rel="stylesheet", href="styles/normalize.css")
    link(rel="stylesheet", href="styles/bootstrap.css")
    link(rel="stylesheet", href="styles/widget.css")

  body.application
    .container

      h1.text-center ActuaForum

      table.table.table-striped
        thead
          tr
            th.middle.text-center Derniers articles
            th.middle.text-center Date de publication
        tbody

          - if (newsList.length == 0) {
            tr
              td.text-center(colspan="2") Aucune actualité n'a été publiée pour l'instant
          - }
          - for(news in newsList) {
            tr
              td.text-center.partner
                a(href=newsList[news].link, target="_blank")= newsList[news].title
              td.text-center= newsList[news].formattedDate
          - }
